body, a{
	font-family: verdana, sans-serif;
}

body.index{
	padding:0;
	margin: 0;
	background-color: #000060;
	text-align: center;
	/* background: #01478c url(images/christmas_bg-horizontal.jpg) repeat-x 0 0; */
}

body.read_comment_iframe{
	background-color: #94C4EC;
	margin-left: 0.5%;
	margin-top: 0%;
}

body.popup, body.maps, body.error{
	background-image: url(images/table/content_tablefiller.gif);
	font-size: 12px;
	font-family: verdana;
	color: #00568a;
}

.wrapper{
    width: 951px;
    height: auto;
    margin: auto;
}

.logo{
    width: 951px;
    height: 300px;
    float: left;
    background: url(images/toplogo.d.jpg) no-repeat top left;
	/* background: url(images/toplogo_christmas.jpg) no-repeat top left; */
}

.minilogo{
	width: 951px;
	height: 40px;
	float: left;
	background: url(images/logo-mini.gif) no-repeat top left;
}

.topmenu_wrap{	/* old top right menu */
    width: 412px;
    height: 50px;
    float: right;
	padding: 0; 
	margin: 5px 32px 0px 0px;
	background:url(images/navmain.gif) no-repeat center top;
}

ul.topmenu{	/* old top right menu */
	height: 47px;
    margin: 3px 0px 0px 18px;
	padding: 0px 20px;
    list-style-type: none;
}

ul.topmenu li{ /* old top right menu */
    float: left;
    display: block;
    height: 47px;
    background:url(images/navsep.gif) no-repeat center right;
    padding:0 6px;
}

ul.topmenu li a, ul.topmenu li a:visited{ /* old top right menu */
    display: block;
    height: 47px;
    line-height: 47px;
	color: #0b60a7;
	font-family: arial; 
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
	text-decoration: none;
}

ul.topmenu li a:hover{ /* old top right menu */
	background:url(images/navmover.gif) no-repeat center center;
	font-family: arial;
	font-size: 12px;
    font-weight: bolder;
	color: #fff;
	text-decoration: none;
}

.nav_sub{	/* old top right menu */
	 width: 412px; 
	 height: 28px;
}

.ns_span{	/* old top right menu */
    float: left;
    height: 28px;
	width: 412px;
	background: url(images/navsub.gif) no-repeat top left;
    display: none;
    margin: 0; padding: 0;
}


ul.nslist{ /* old top right menu */
	height: 28px;
	list-style-type: none;
	margin-top: 8px;
}

ul.nslist li{ /* old top right menu */
	float: left;
	font-family: arial;
    font-size: 10px;
	color: #0b60a7;
}

ul.nslist li a, ul.nslist li a:visited{	/* old top right menu */
	margin: 0px 5px; 
   	font-family: arial;
    font-size: 10px;
	text-decoration: none;
	color: #0b60a7;
}

ul.nslist li a:hover{	/* old top right menu */
	font-family: arial;
    font-size: 10px;
	text-decoration: none;
	color: #0b60a7;
}

.srchbar{
	width: 951px;
    height: 49px;
	margin-top: -5px;
    float: left;
    background: url(images/srchbar_bg.gif) no-repeat top left;
	background-color: #e2f0f1;
	position: relative;
}

#srchbar-link {
	line-height: 49px;
}

#srchbar-link ul{
	margin: 0px; 
	padding: 0px;
	list-style: none;
	width: 200px;
    height: 49px;
	float: left;
}

#srchbar-link ul li{
	float: left;
}

a:link.indexA, a:visited.indexA, a:visited.indexA{
	font-family: verdana;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

a:hover.indexA{
	font-family: verdana;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-decoration: underline;
}

#srchbar-opt{	/* relative psoition to .srchbar */
	width: 90px;
	height: 26px;
	background: url(images/srchbar_btn-long.gif) no-repeat top left;
	font-family: verdana;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	position:absolute; 
	left:254px; 
	top:12px;
}
#qsb_srch_btn_item{
	position:absolute; 
	left:353px; 
	top:12px;
}
#qsb_srch_box_item{
	position:absolute; 
	left:433px; 
	top:13px;
}
#qsb_srch_btn_mob{
	position:absolute; 
	left:550px; 
	top:12px;
}
#qsb_srch_box_mob{
	position:absolute; 
	left:630px; 
	top:13px;
}

.srchbar-btn{
	width: 75px;
	height: 26px;
	background: url(images/srchbar_btn.gif) no-repeat top left;
	text-align: center;
}

.srchbar-btn_re{
	width: 75px;
	height: 26px;
	background: url(images/srchbar_btn-re.gif) no-repeat top left;
	text-align: center;
}

.bartxtbox{
	width: 95px;
	height: 24px;
	color: #fff;
	background-color: #0c68b5;
	font-size: 14px;
}

a:link.whnbu, a:visited.whnbu, a:hover.whnbu{
	font-family: verdana;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

.contentwrap{
	width: 951px;
	height: auto;
    min-height: 600px;
    float: left;
	margin: 0px auto;
	padding: 0px;
	border:0;
    background: url(images/waterback.gif);
	background-color: #e2f0f1;
}

.sidebar-left{
    width: 174px;
    height: auto;
	margin: 10px 5px 10px 5px;
    float: left;
}

.content-div{
	width: 575px;
	margin: 10px 4px 10px 4px;
    height: auto;
	float: left;
	overflow: hidden;  
}

.content-div-ext{
	width: 758px;
	margin: 10px 5px 10px 4px;
    height: auto;
	overflow: hidden;
}

.content-div-full{
	width: 941px;
	margin: 10px 5px;
    height: auto;
	overflow: auto;
}

.sidebar-right{
	width: 174px;
	height: auto;
	margin: 10px 5px 10px 5px;
	float: right;
}

a:link.sb, a:visited.sb, a:visited.sb, .sb{
	font-family: verdana;
	font-size: 12px;
	font-weight: bold;
	color: #00568a;
	text-decoration: none;
}

a:hover.sb{
	font-family: verdana;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

.bl-ct{
	padding-top: 100px;
}

.serverlisting-BL{
	width: 174px;
	height: 242px;
	background: url(images/bl-serverlisting_.gif) no-repeat;
	text-align: center;
	line-height: 15px;
}

.database-BL{
	width: 174px;
	height: 465px;
	background: url(images/bl-database-re.gif) no-repeat;
	line-height: 20px;
	text-align: left;
}

.tool-BL{
	width: 174px;
	height: 202px;
	background: url(images/bl-tools.gif) no-repeat;
	line-height: 20px;
	text-align: left;
}

.option-BL{
	width: 174px;
	height: 168px;
	background: url(images/bl-options.gif) no-repeat;
	text-align: center;
	line-height: 15px;
}

.link-BL{
	width: 174px;
	height: 271px;
	background: url(images/bl-links.gif) no-repeat;
	line-height: 15px;
}

.community-BL{
	width: 174px;
	height: 228px;
	background: url(images/bl-community.gif) no-repeat;
	text-align: center;
	line-height: 15px;
}

.download-BL{
	width: 174px;
	height: 197px;
	background: url(images/bl-download.gif) no-repeat;
	text-align: center;
	line-height: 15px;
}

.latestrev-BL{
	width: 174px;
	height: 531px;
	background: url(images/bl-latestrev.gif) no-repeat;
}

.genbox-BL-top{
	width: 172px;
	height: 21px;
	background: url(images/genbox_top.gif) no-repeat;
}

.genbox-BL-mid{
	width: 172px;
	background: url(images/genbox_mid.gif) repeat-y 0 0;
}

.genbox-BL-low{
	width: 172px;
	height: 21px;
	background: url(images/genbox_low.gif) no-repeat;
}

.nobg-BL{
	width: 174px;
	margin-top: 5px;
	text-align: center;
}


table.parent_table{ /* index and few uses this */
margin-left: auto; 
margin-right: auto;
background-image: url(images/waterback.gif);
background-color: #e2f0f1;
width: 951px;
}

img.smap{ /* worldmap & dung map */
filter: alpha(opacity=100);   
opacity: 1.0;
-moz-opacity: 1;
width: 40px;
height: 40px; 
border: none;
} 

a:link.gen_small, a:visited.gen_small, .ltext{
font-size: 12px;
font-family: verdana;
color: #00568a;
text-decoration: underline;
}

a:hover.gen_small, .ltext_over{ /* ltext_over needs the extra font stuff to work */
font-size: 12px;
font-family: verdana;
color: #00568a;
text-decoration: underline;
font-weight: bold;
}

a:link.gen_large, a:visited.gen_large{
font-size: 18px;
font-family: book antiqua;
color: #4f88dc;
font-weight: bold;
text-decoration: underline;
}

a:hover.gen_large{
text-decoration: underline;
font-weight: bold;
color: #D2EDFF;
}

a:link.mapinfo_smaller, a:visited.mapinfo_smaller, a:link.sm, a:visited.sm, a:hover.sm{
font-size: 10px;
font-family: verdana;
color: #00568a;
text-decoration: underline;
}

a:hover.mapinfo_smaller{
font-size: 10px;
color: #00568a;
text-decoration: underline;
font-weight: bold;
}

a:link.no_bold, a:visited.no_bold, a:link.nbu, a:visited.nbu{
font-size: 12px;
font-family: verdana;
color: #00568a;
text-decoration: none;
}

a:hover.no_bold{
color: #4f88dc;
text-decoration: none;
}

a:hover.nbu{ /*no bold mouse over underline */
color: #4f88dc;
text-decoration: underline;
}

a:link, a:visited{
font-size: 12px;
font-family: verdana;
color: #00568a;
text-decoration: underline;
}

a:hover{
color: #4f88dc;
text-decoration: underline;
}

a:link.combo{
	color: #0000FF;
}

a:hover.combo{
	font-weight: bold;
}

table.invisible{
text-align: center;
margin-left: auto; 
margin-right: auto;
}

table.box_table_left{
text-align: center;
width : 170px;
}

table.box_table{
width : 550px;
}

table.box_table_right{
width : 155px;
}

table.bible_table{
border: 1px;
border-collapse: collapse;
border-color: #38719C;
}

td.corner{
width: 5px;
height: 5px;
}

td.image_height{
height: 5px;
}

/* center box layout */
td.content_box_header{ 
height: 5px;
background-color: #94C4EC;
}

td.content_side{
background-color: #94C4EC;
width: 5px;
}

td.content_box_body{
background-color: #94C4EC;
font-size: 12px;
font-family: verdana;
color: #00568a;
}

td.content_box_bottom{
background-color: #94C4EC;
height: 5px;
}

input.textbox, input.pass, input.button, select, textarea{
font-size: 12px;
font-family: verdana;
color: #0072c3;
background-color: #D2EDFF;
}

input.yesno{ /* no bgcolor needed, need transparent */
font-size: 12px;
font-family: verdana;
color: #D2EDFF;
}

.btext{ /* general text */
font-size: 12px;
font-family: verdana;
color: #00568a;
}

.ttext{	/* tips text */
font-size: 10px;
font-family: verdana;
color: #516982;
}

.tipstext{ /* tool tips */
font-size: 10px;
font-family: verdana;
color: #516570;
}

.rtext{
font-size: 12px;
font-family: verdana;
color: red;
}

.htext{ /* box title header text */
font-size: 18px;
font-family: book antiqua;
color: #00568a;
font-weight: bold;
}

font.iltext{ /* link text large  */
font-size: 18px;
font-family: book antiqua;
color: #4f88dc;
font-weight: bold;
text-decoration: underline;
}

font.bartext{
font-size: 10px;
font-family: verdana;
color: #a4ccec;
text-decoration: underline;
}

.etext{ /* error text small */
font-size: 11px;
font-family: courier;
color: red;
}

.eitext{ /* error text large */
font-size: 16px;
font-family: courier;
font-weight: bold;
color: red;
}

.itext{ /* large text */
font-size: 18px;
font-family: book antiqua;
color: #4f88dc;
font-weight: bold;
}

.status{
font-size: 18px;
font-family: book antiqua;
color: #4f88dc;
font-weight: bold;
}

.online{
font-size: 20px;
color: #33FF33;
font-family: courier;
font-weight: bold;
}

.offline{
font-size: 20px;
color: red;
font-family: courier;
font-weight: bold;
}

font.holder{
font-size: 1px;
}

font.grey{
font-size: 10px;
font-family: verdana;
color: #516982;
}

font.grey12{
font-size: 12px;
font-family: verdana;
color: #516982;
}

.copyright{
font-size: 8px;
font-family: verdana;
color: #516982;
}

.write_review_head{
font-size: 12px;
font-family: bookman old style;
color: #38719C;
}

.switch{ /* font for switch content and a few others */
font-size: 10px;
font-family: bookman old style;
color: #38719C;
}

td.stat_col1_td{
width: 115px;
height: 35px;
}

td.stat_col2_td{
width: 120px;
height: 35px;
}

td.stat_col3_td{
width: 20px;
height: 35px;
}

table.collapse{
border: 1px solid #38719C;
border-collapse: collapse;
text-align: center;
}

.filled_header{
background-color: #38719C;
font-size: 12px;
font-family: book antiqua;
color: #E6F2FF;
font-weight: bold;
}

.filled_header_exright, .filled_header_mob, .filled_header_item{
background-color: #38719C;
font-size: 14px;
font-family: book antiqua;
color: #E6F2FF;
}

.content_box{ /* for list with btext, w/ white bgcolor & blue text, use w/ bkgd_chg */
/* either cellspacing = 0 or have white lines sparating cells */
font-size: 12px;
font-family: verdana;
color: #00568a;
background-color: #E6F2FF;
}

.content_box2{ /* for profile, w/ white bgcolor & grey text, use w/ bkgd_chg */
font-size: 12px;
font-family: lucida console;
color: #516982;
background-color: #E6F2FF;
}

.content_box_db, .content_box_exright, .content_box_mob, .content_box_item{ /* for db content display table, comes with btext and collapse */
font-size: 12px;
font-family: verdana;
color: #00568a;
border: 1px solid #38719C;
border-collapse: collapse;
background-color: #E6F2FF;
}

.bborder, .bb{
border-color: #38719C;
}

.db_script_txt{
overflow: auto; 
max-width:600;
word-wrap:break-word; 
margin: 0px; 
font-family: courier, arial, serif;
}

.filled_header_db{
background-color: #D2EDFF;
}

.legend_mob_db, .lmd{
background-color: #D2EDFF;
border-color: #38719C;
}

table.outlined_no_mouseover{ /* make a content_box_db with btext & filledheader_db */
border-color: #38719C;
background-color: #E6F2FF;
}

.bkgd_chg_over{
background-image: url(images/list-back-over.gif);
}

.bkgd_chg_out{
background-image: url(images/list-back-out.gif);
}

.page_cell{
width: 20px;
text-align: center;
}

br.pxbreak{
font-size: 6px;
font-family: verdana;
}


img.avatar_img{
width: 80px;
height: 80px;
}

#dhtmltooltip{
position: absolute;
width: 150px;
border: 1px solid #38719C;
padding: 2px;
background-color: #D2EDFF;
visibility: hidden;
z-index: 100;
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}

.showstate{ /*Definition for state toggling image */
cursor: hand;
cursor: pointer;
float: right;
margin-top: 2px;
margin-right: 3px;
}

.link{ /*Definition for state toggling image */
cursor: hand;
cursor: pointer;
}

.switchcontent{}

iframe.invisible{
background-color: #94C4EC;
border: none;
}

/* ----------------- npc warp shop css (many moved to mobile css) ------------------- */

/* no longer use?

a:link.nsw_sl, a:visited.nsw_sl{
font-size: 10px;
font-family: verdana;
color: #00568a;
}

a:hover.nsw_sl{
font-size: 10px;
font-family: verdana;
color: #00568a;
font-weight: bold;
}

#npc_tab a, #shop_tab a, #warp_tab a, #mob_tab a{
color: #00568a;
text-decoration: none;
}

#npc_tab a:hover, #shop_tab a:hover, #warp_tab a:hover, #mob_tab a:hover{
font-size: 12px;
font-family: verdana;
color: #00568a;
font-weight: bold;
text-decoration: none;
}

#ajaxout{
float: left;
width: 332px;
color: #00568a;
background-color: #D2EDFF;
text-align: center;
}

#nsw_textside{ 
float: left;
color: #D2EDFF;
background-color: #D2EDFF;
border: 2px solid #38719C;
font-size: 1px;
width: 100%;
}

#nsw_sc_R{
float: left; 
margin: 2px 0 0 2px;
}

*/

#npc_search, #shop_search{
font-size: 12px;
font-family: verdana;
color: #00568a;
background-color: #D2EDFF;
border: 2px solid #38719C;
}

.npc_shop, .lstxt{
font-size: 12px;
font-family: verdana;
color: #00568a;
background-color: #E6F2FF;
}

.bbs{ border-color: #38719C; font-size: 10px; }


table.user_comment_table{
width: 526px;
background-color: #D2EDFF;
border: none;
}

.lightclr{
background-image: url(images/list-back-over.gif);
font-size: 12px;
font-family: verdana;
color: #00568a;
}

.darkclr{
background-image: url(images/list-back-out.gif);
font-size: 12px;
font-family: verdana;
color: #00568a;
}

/* Dragdealer JS v0.9.5 */
.dragdealer {
	position: relative;
	height: 5px;
	background: #808080;
	width: 98%;
	margin: 5px 4px 5px 2px;
}
.dragdealer .handle {
	position: absolute;
	cursor: pointer;
}
.dragdealer .red-bar {
	width: 12px;
	height: 14px;
	background: #00568a;
	color: #FFF;
	text-align: center;
	margin-top: -3px;
}
.dragdealer .disabled {
	background: #898989;
}

/* front page forum & server content */
div.ft_blkhd{
	color: #fff;
	font-weight: bold;
	background-color: #0c68b5;
	border-radius: 6px;
	-moz-border-radius: 5px;
	height: 20px;
	line-height: 20px;
}

div.ft_board{
font-size: 10px;
margin: 2px 0 0 2px;
}
div.ft_board a{
font-size: 10px;
text-decoration: none;
font-weight: bold;
}

div.ft_topic{
font-size: 12px;
margin-left: 12px;
padding: 3px 0;
}
div.ft_topic a, tr.ft_topserv td a{
font-size: 12px;
text-decoration: none;
}

div.ft_board a:hover, div.ft_topic a:hover, tr.ft_topserv td a:hover{ /* can eaily add css later */}

img.ft_bullet{
	height: 6px;
	float: left; 
	margin: 7px 2px 0 2px;
}
img.ft_bullet2{
	height: 6px;
	margin-top: 2px;
}

tr.ft_topserv{
font-size: 12px;
font-family: verdana;
color: #00568a;
}

a:link.wu, a:visited.wu{
font-size: 12px;
font-family: verdana;
color: #00568a;
}

a:hover.wu{
color: #fff;
}

a:link.bigbu, a:visited.bigbu{
font-size: 1.3em;
font-family: verdana, sans-serif;
}

a:hover.bigbu{
color: #fff;
text-decoration: none;
}

#footer{
	margin: 15px auto 80px auto;
}